#about_page

  #about_left

    %h2
      What is #{I18n.t 'project.name'}?

    %p
      The #{I18n.t 'project.title'} (#{I18n.t 'project.name'}) is a network of researchers conducting acoustic telemetry projects on fish movement in the #{I18n.t 'project.location'}.  #{I18n.t 'project.name'} provides these researchers with opportunities to develop partnerships and share fish detection data among projects.

    %br
    %br
    %br

    %p
      #{I18n.t 'project.administration'}

  #about_right
    %div{:class => 'info'}
      %h2 #{I18n.t 'project.name'} Projects:
      %ul{:class => 'project_list'}

        - @studies.each do |s|
          %li
            = link_to "#{s.name} (#{s.code})", project_path(s.id)
  .clear

  

  %h2
    Questions?  Contact:

  %p
    #{I18n.t 'project.contact.name'}
    %br
    #{I18n.t 'project.contact.institution'}
    %br
    Phone:  #{I18n.t 'project.contact.phone'}
    %br
    Email:  #{I18n.t 'project.contact.email'}
