%h2 Submissions

%p= link_to "Create a new submission", new_submission_path

%p
    These are submissions that were entered into #{t('project.name')} for studies that you have permission to manage.

- unless @submissions.empty?
    %table
        %thead
            %tr
                %th Study
                %th Uploaded By
                %th Uploaded On
                %th Data Type
                %th Data File
        %tbody
            - @submissions.each do |s|
                %tr
                    %td= link_to s.study.name, study_path(s.study)
                    %td= s.user.name
                    %td= s.datafile_updated_at.in_time_zone
                    %td= s.datatype
                    %td= link_to "Download", s.datafile.url
- else
    %h2 No submissions have been entered

