#contents

  #boxes
    = link_to explore_path do
      .box{:class => 'explore'}

    = link_to search_path do
      .box{:class => 'search'}

    = link_to new_report_path do
      .box{:class => 'reward'}

  #flashes
    = content_tag :p, "#{details[:message]}", :class => "flasher error"

  #information
    %p= t('home.information')

  #links
    #{link_to "What is Acoustic Telemetry?", acoustic_telemetry_path}
    %br
    #{link_to "About #{t('project.name')}", about_path}
    %br
    #{link_to "Have Data?", have_data_path}


  #footer
    %p= t('project.copywrite')
