%p
  #{t('project.name')} has received your data submission.  
  %br
  Data submissions are automatically processed and available witin a few minute of submission.
  %br
  You can access the submission here: #{submission_url(@submission)}" to check its status.  The status field will update from "New" to "Processed" when the data has been added to the #{t('project.name')} system.  Additional information on the page will help to debug any problems #{t('project.name')} had with your data submission.

  Thank you,
  The #{t('project.name')} Team